<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi sint
      nesciunt eligendi voluptates adipisci aliquid est repudiandae iure! Nam
      blanditiis officiis voluptatibus, magnam aut aliquam repellendus vitae
      provident officia voluptatum.
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <header class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi sint
      nesciunt eligendi voluptates adipisci aliquid est repudiandae iure! Nam
      blanditiis officiis voluptatibus, magnam aut aliquam repellendus vitae
      provident officia voluptatum.
    </p>
  </header>
</section>
